# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Environment / secrets
.env
.env.local
.env.*.local

# Node (kalau suatu saat pakai build tools)
node_modules/
dist/
.vercel/

# Laragon local files
*.bak
